// Адаптивная верстка //
@media (max-width:1280px) {
	.container {width: 1110px;}
	.event__watches {margin-left: 12px;}
	.event_bigcard .event__likes, .event_specialcard .event__likes {right: 53%;}
	.event_bigcard .event__watches, .event_specialcard .event__watches {left: 53%;}
	.organizers__person {padding-left: 70px;}
	.header__account {width:288px;}
	.header__leftside {flex:1}
	.header__searchfield {margin-left:65px;}
	.header__date {width:180px;}
	.header__events {width:260px}
	.calendar {padding:39px 40px 35px 40px}
	.event__watches, .event__likes {margin-top:30px}
	.event__info .button {position: relative; margin-top:15px; display:block; top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
	.event_bigcard .event__info .button, .event_specialcard .event__info .button {position: absolute}
	.shortinfo {padding: 45px 15px;}
	.avatar_big {width: 60px; height: 60px;}
	.invited__more {width: 60px; height: 60px; line-height: 60px;}
	.popup {width: 1090px;}
	.all-invited__row li {width: 13%;}
}

@media (max-width:1170px) {
	.container {width: 964px;}
	.header__searchfield {margin-left: 30px;}
	.header__account .header__link:first-child {margin-right: 48px;}
	.header__events {width: 290px;}
	.event__name {max-width: 60%;}
	//.event_bigcard .event__likes, .event_specialcard .event__likes {right: 117px;}
	//.event_bigcard .event__watches, .event_specialcard .event__watches {left: 121px;}
	.header__hint {left: -176px; padding: 55px;}


	.column {width: 33.3333%;}
	.column_big {width: 66.6666%;}
	.event_banner {height: 352px; padding: 40px;}
	.event_banner .event__name {font-size: 40px;}
	.event .button {right: 40px; bottom: 40px;}
	.most-popular__heading {padding: 40px;}
	.last-published {padding-bottom: 61px;}
	.map-search {padding:40px;}

	.column_big > .column {width: 50%;}
	.main .column_big > .column {padding-left: 0; padding-right: 10px;}
	.column_big > .column_med {width: 100%;}
	.main .column_big .column_med {padding-right: 0; margin-top: 0;}
	.event_bigcard .event__info, .event_specialcard .event__info {padding: 18px;}

	.header__account {width:165px;}
	.header__events {width:166px}
	.header__date {margin-left:45px;}
	.header__searchfield {margin-left:90px;}
	.header__account .header__link {margin:5px auto !important; width:100% !important; text-align: center;}
	.header__account {flex-direction: column; justify-content: center;}

	.last-published__seemore {margin-top:80px;}
	.last-published {padding-bottom:66px;}

	.map-search__heading {margin-top:0}
	.most-popular__heading {display:inline-flex; align-items:center}
	.header__hint {left:auto; right:40px;}
	.shortinfo {padding: 20px 10px 15px;}
	.shortinfo__text {font-size: 14px; margin-top: 15px;}
	.shortinfo__link {margin-top: 15px;}
	.avatar_big {width: 70px; height: 70px;}
	.invited__more {width: 70px; height: 70px; line-height: 70px;}
	.costumes, .gifts, .recommendation {width: 33.3333%;}
	.costumes .column {width: 100%;
		&:last-child {margin-top: 19px;}
	}
	.tags {padding: 0 60px;}
	.popup {width: 944px;}
	.eventinfo__heading {width: 50%;}
	.eventinfo__filter {padding-left: 10px;}
	
	.profile .column_big .column {width: 50%;}
	.profile .column_big .column:nth-child(3) {padding-right: 0;}
	.profile .column_big .column_med {width: 50%;}
	.following__list {padding-left: 10px;}
	.following__list li {padding-right: 50px;}
	.settings-page .column_med {width: 66.6666%;}
}

@media (max-width:1024px) {
	.container {width: 708px;}

	/*.header__leftside {flex-wrap: wrap; justify-content: space-between;}
	.header__searchfield {order: 3; width: 100%; margin-left: 10px; margin-top: -40px;}
	.header__account {width: 245px;}
	.header__events {width: 108px;}
	.header__link {padding-right: 10px;}
	.header__date {width: 108px; margin: 0;}
	.footer__app {max-width: 260px;}
	.footer__appshop {margin: 10px;}
	.header__hint {left: -126px; padding: 30px; width: 235px;}
	.header__hint:before {width: 185px;}
	.header__hint span {left: 185px;}
	.header__hint:after {width: 30px;}
	.calendar {width: 461px; padding: 50px;}
	.last-published__heading {padding: 43px 33px 59px;}*/

	.column {width: 50%;}
	.column_big {width: 100%;}
	.column_big > .column_med {width: 50%;}
	.main .container {flex-wrap: wrap;}
	.main .column_big {padding: 0;}
	.main .column_big > .column {padding-left: 10px; padding-right: 0;}
	.main .column_big .column_med {padding-left: 0; padding-right: 10px;}
	.main .column_med .column:nth-child(2) {padding-right: 0;}

	.column_med > .column {width: 100%;}
	.main .column_med .column:last-child {padding-left: 0; padding-right: 0; margin-top: 20px;}
	.most-popular__heading {height:132px}
	.footer__text {width:auto}
	.header__logo {margin-top:-30px; margin-left:1px;}
	.header__searchfield {position: absolute; margin-left: 0; left: 0; bottom: 20px;}
	.header__leftside {position: relative; justify-content: space-between;}
	.header__date, .header__account, .header__events {width:160px}
	.calendar {width:430px; padding:30px 30px 30px 30px}
	.invited__list li {margin-right: 10px;}
	.photos {margin-top: 100px;}
	.photos .column:nth-child(odd) {padding-right: 10px;}
	.photos .column:nth-child(even) {padding-left: 10px;}
	.costumes {width: 100%;}
	.costumes .column {width: 50%;}
	.costumes .column:nth-child(even) {padding-right: 10px;}
	.costumes .column:nth-child(odd) {padding-left: 10px;}
	.costumes .column:last-child {margin-top: 0;}
	.gifts {width: 50%;}
	.recommendation {width: 50%;}
	.comments {padding: 0; padding-right: 10px;}
	.tags {padding: 0; padding-left: 40px;}
	
	.event-page .column {padding: 0;}
	.event-page .column_big + .column {width: 100%;}
	.event-page__middle .column:last-child {width: 100%; margin-top: 19px;}
	
	.gifts .column {padding-right: 10px;}
	.recommendation .column {padding-left: 10px;}
	.popup {width: 688px;}
	.all-invited__row {margin-top: 20px;}
	.all-invited__row li {width: 26%; margin-top: 20px;}
	.profile .column_userinfo {width: 100%; padding: 0;}
	.profile .column_big {padding: 0;}
	.settings-page .column {padding: 0; width: 100%;}
	.userinfo .dots__menu {left: auto; right: -25px;}
}

@media (max-width:768px) {
	.container {width: 580px;}
	.header__account {width:120px;}

	.header__events {width: 119px;}
	.event_banner {height: 252px; padding: 20px;}
	.event .button {position: relative; right:0; bottom:0; margin-top: 20px; display: block; max-width: 130px;}
	.event__name {max-width: 100%;}
	.event_banner .event__name {font-size: 30px;}
	.event_banner .event__date {margin-top: 20px; font-size: 14px; font-weight: 400;}
	.map-search {padding: 20px;}

	.last-published {padding-bottom: 71px; margin-top: 20px;}
	.last-published__seemore {margin-top: 76px;}
	.last-published__heading {padding: 25px 20px 38px;}
	.header__account .header__link:first-child {margin-right: 28px;}
	.header__hint {left: -146px;}
	.calendar {width: 390px; padding:26px 30px 30px;}
	.footer__app {max-width: 180px;}
	.organizers {padding-bottom: 63px;}
	.calendar__closest a {margin-top:4px; margin-bottom:4px; display:inline-block}
	.most-popular__heading {padding:20px;}

	.header__leftside {flex:initial; width:350px}
	.header .container {position: relative;}
	.header__events {position: absolute; top: 0; right: 0; height: 50%; width: 230px;}
	.header__account {position: absolute;right: 0; bottom: 0; height: 50%; width: 230px; flex-direction: row;}
	.footer__appshop+.footer__appshop {margin-top:15px}
	.header__hint {left:-190px}
	
	.comments {width: 100%; padding: 0;}
	.tags {width: 100%; padding: 0; margin-top: 50px;}
	
	.popup {width: 560px;}
	.eventinfo__filter li {margin-left: 57px;}
	.following__list li {padding-right: 55px;}
}

@media (max-width:640px) {
	.container {width: 420px;}
	.column {width: 100%;}
	.column_big > .column {width: 100%; margin-top: 20px;}
	.column_big > .column_med {width: 100%;}
	.main .column {padding: 0 !important;}
	.footer .container {flex-wrap: wrap;}
	.footer__text {width: 100%; text-align: center;}
	.footer__app {width: 100%; margin: 30px 0; max-width: 10000px;}
	.footer__apptext {margin-bottom: 20px;}
	.main .container > .column:last-child {margin-top: 20px;}
	.footer__text:last-child {text-align: center}

	.header .container {flex-wrap:wrap; height:auto;}
	.header__leftside {width:100%; height:100px;}
	.header__events {position:static; width:50%; height:45px;}
	.header__account {position:static; width:50%; height:45px;}
	.calendar {left:auto; right:0}
	.header__date {margin-right:-34px}
	.header__link {font-size:13px}
	.heading_big {font-size:30px;}
	.organizers {padding-left:20px; padding-top:20px; padding-bottom:20px; height:auto;}
	.organizers__field {padding-right:0}
	.header__hint {left:17px;}
	.invited__list li {margin-right: 30px;}
	.photos__filter {left: auto; right: 9px;}
	.photos .column:nth-child(odd) {padding-right: 0;}
	.photos .column:nth-child(even) {padding-left: 0;}
	.costumes .column {width: 100%; padding: 0 !important;}
	.costumes .column:last-child {margin-top: 19px;}
	.gifts, .recommendation {width: 100%;}
	.photos {margin-top: 50px;}
	.photos__heading {position: static; margin-left: 30px;}
	.photos__filter {position: static; margin-left: 30px; margin-top: 20px; margin-bottom: 20px;}
	
	.popup {width: 400px;}
	.all-invited__row li {width: 48%;}
	.profile .column_big .column {width: 100%; padding: 0;}
	.profile .eventinfo .column {margin-top: 20px;}
	.eventinfo__head {flex-wrap: wrap; margin-bottom: 10px;}
	.eventinfo__heading {width: 100%;}
	.eventinfo__filter {margin-top: 20px;}
	.profile .column_big .column_med {width: 100%; padding: 0;}
	.settings__field {flex-wrap: wrap;}
	.settings__fieldname {width: 100%; margin-bottom: 10px;}
	.settings input, .settings select, .settings textarea {width: 100%;}
	.settings__field_location select {width: 48%;}
	.settings__field_location input {width: 48%; margin-left: 4%;}
	.settings__field_birthday select {width: 30%;}
	.settings__field_birthday select + select {margin-left: 5%;}
	.settings__field_textarea .settings__fieldname {margin-top: 0;}
}

@media (max-width:480px) {
	.container {width: 290px;}
	.event_bigcard .event__likes, .event_specialcard .event__likes {right: 152px;}
	.event_bigcard .event__watches, .event_specialcard .event__watches {left: 156px;}
	.header__hint {left:0}
	.header__hint span {left:170px;}
	.header__hint:before {width:171px}
	.header__hint:after {width:95px;}
	 .calendar {width:360px}
	.invited__list li {margin-right: 0;}
	.comments__form textarea {margin-left: 10px;}
	.comments__list li {padding-left: 65px;}
	.comments__time {display: block; margin-left: 0; margin-top: 3px;}
	.comments__answer {margin-left: 65px;}
	
	.popup {width: 270px;}
	.all-invited__row .avatar {width: 70px; height: 70px;}
	.all-invited__name {font-size: 14px;}
	.settings {padding-left: 0;}
	.settings__heading {padding-left: 21px;}
	.settings__button {margin-left: 0;}
	.settings input, .settings select, .settings textarea {padding: 0 15px;}
	.settings__field_location select {width: 100%;}
	.settings__field_location input {width: 100%; margin-left: 0; margin-top: 10px;}
	.settings__field_birthday select {width: 100%;}
	.settings__field_birthday select + select {margin-left: 0; margin-top: 10px;}
	.settings textarea {padding: 15px; height: 152px;}
}

// Адаптивная верстка //
