@import "normalize.css";

@import "fonts.css";

@import "basics";

.button {text-align:center; border:0; display:inline-block; font-size:16px; background-color: #5c1bbf; border-radius: 1000px; line-height: 50px; font-weight: 600; padding: 0 50px; box-shadow: 0px 6px 18px 0px rgba(92, 27, 191, 0.5); position:relative; z-index:2; cursor: pointer;
    &:before {content: ''; position: absolute; border: #5c1bbf solid 6px; top: 0; right: 0; bottom: 0; left: 0; -webkit-animation-duration: 1s; animation-duration: 1s; border-radius:1000px; transition:border-color .25s ease-in-out; z-index:-1;}
    &:hover:before, &:focus:before, &:active:before {-webkit-animation-name: hvr-ripple-out; animation-name: hvr-ripple-out;}
	&:hover {background-color: #7323ec;
        &:before {border-color: #7323ec;}
    }
	&.active {box-shadow: inset 0 0 0 1px #5c1bbf; background-color: transparent; color: #5c1bbf; letter-spacing: 0.025em; font-weight: 300;
		&:before {display: none;}
	}
	&_pink {background-color: #c41162; box-shadow: 0px 4px 22px 0px rgba(196, 17, 98, 0.42);
        &:before {border-color:#c41162}
		&:hover {background-color: #e91575;
            &:before {border-color:#e91575}
        }
		&.active {box-shadow: inset 0 0 0 1px #e91575; background-color: transparent; color: #e91575;}
	}
	&_small {font-size: 14px; line-height: 39px; padding: 0 10px; min-width: 99px;}
	&_bordered {box-shadow: inset 0 0 0 1px #5c1bbf; background-color: transparent;
		&:before {display: none;}
	}
  &_bold {
    font-weight: 700;
    letter-spacing: .025em;
  }

  &_text {
    color: $pink;
    font-family: $main-font;
    font-weight: 400;
    letter-spacing: .025em;
    box-shadow: none;
    background-color: transparent;

    &:before {
      display: none;
    }

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

/*----------------------------------------*/

@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}

/*----------------------------------------*/

.avatar {width: 55px; height: 55px; border-radius: 1000px; overflow: hidden; position: relative; display: inline-block;
	img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; min-width: 100%; min-height: 100%; width: 0; object-fit: cover;}
	&_big {width: 70px; height: 70px;}
	&_small {width: 39px; height: 39px;}
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
  }
  &_purple {
    background: $purple;
  }
}

/*----------------------------------------*/

.heading {font-size: 30px; font-weight: 300; letter-spacing: 0.05em;
	&_big {font-size: 36px;}
	&_small {font-size: 24px;}
}

/*----------------------------------------*/

.filter {
	li {display: inline-block; opacity: 0.3; position: relative; transition: all 0.25s ease-in-out; font-size: 16px; font-weight: 600; letter-spacing: 0.05em; cursor: pointer;
		&:after {content: ""; display: inline-block; position: absolute; left: 0; bottom: -6px; width: 23px; height: 2px; background-color: #fff; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out; box-shadow: 0 0 5px 0 #fff;}
		&:hover, &.active {opacity: 1;
			&:after {opacity: 1;}
		}
		&:first-child {margin-left: 0;}
	}
}

/*----------------------------------------*/

.overlay {opacity: 0; pointer-events: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #050915; z-index: 50; transition: all 0.25s ease-in-out;
	&.active {opacity: 0.7; pointer-events: all;}
}

/*----------------------------------------*/

.calendar {width: 505px; box-sizing: border-box; padding: 39px 47px 43px 57px; background-color: #050915;
	&__head {display: flex; align-items: center; justify-content: space-between; padding-right: 5px;}
	&__month {color: #fff; font-weight: 600; letter-spacing: 0.15em; padding: 0 34px; position: relative;
		&:before, &:after {content: ""; display: inline-block; width: 0; height: 0; border: 5px solid #fff; position: absolute; top: 0; bottom: 0; margin: auto; cursor: pointer;}
		&:before {border-color: transparent #fff transparent transparent; left: 0;}
		&:after {border-color: transparent transparent transparent #fff; right: 0;}
	}
	&__closest {font-size: 14px; color: #5c1bbf; text-transform: uppercase; font-weight: 600; letter-spacing: 0.05em;
		a {margin-left: 32px;}
		a:hover {opacity: 0.6;}
	}
	&__daysoftheweek {margin-top: 32px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center; padding: 0 5px;
		a {font-size: 14px; color: #6d6e72; letter-spacing: 0.05em;}
	}
	&__week {margin-top: 8px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; align-content: space-between;
		a {font-size: 14px; color: #fff; letter-spacing: 0.05em; display: inline-block; border-radius: 5px; border: 1px solid transparent; width: 29px; height: 29px; text-align: center; line-height: 29px;
			&:hover {border-color: #c41162; background-color: #c41162;}
			&.active {border-color: #c41162;}
			&.nextmonth {opacity: 0.1; pointer-events: none;}
		}
	}
}

/*----------------------------------------*/

.dots {display: block; height: 10px; text-align: center; width: 25px; cursor: pointer; transition: all 0.25s ease-in-out;
	&:hover span {opacity: 0.7;}
	span {display: inline-block; width: 5px; height: 5px; border-radius: 1000px; background-color: #5c1bbf; position: relative; transition: all 0.25s ease-in-out;
		&:before, &:after {content: ""; display: inline-block; width: 5px; height: 5px; border-radius: 1000px; background-color: #5c1bbf; position: absolute; top: 0; bottom: 0; margin: auto;}
		&:before {left: -10px;}
		&:after {right: -10px;}
	}
	&__menu {position: absolute; right: -25px; top: 100%; width: 298px; z-index: 3; background-color: #100824; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out; padding-bottom: 34px; cursor: auto; text-align: left;
		&:after {content: ""; border: 5px solid #100824; border-color: transparent transparent #100824 transparent; position: absolute; right: 40px; top: -10px;}
		&.active {opacity: 1; pointer-events: all;}
		li {margin: 24px auto 0;  padding: 0 42px;
			&:first-child {margin-top: 0;}
			&.unfollow {padding: 33px 42px 31px; position: relative; border-bottom: 1px solid rgba(#5c1bbf,0.1); margin-bottom: 36px;}
		}
		a {font-size: 14px; font-weight: 600; letter-spacing: 0.05em; text-transform: uppercase;
			&:hover {opacity: 0.7;}
		}
	}
}

/*----------------------------------------*/

.column {display: inline-block; vertical-align: top; width: 25%; box-sizing: border-box;
	&_big {display: inline-flex; justify-content: space-between; flex-wrap: wrap; align-content: flex-start; width: 75%;
		> .column {width: 33.3333%;}
		> .column_med {width: 66.6666%;}
    > .column_half {width: 50%;}
	}
	&_med {display: inline-flex; justify-content: space-between; flex-wrap: wrap; align-content: flex-start; width: 50%;
		> .column {width: 50%;}
	}
}

/*----------------------------------------*/

.event__info .event__organizer {transform:translate3d(0,-5px,0)}
.event__info .event__watches, .event__info .event__likes, .event__info .button {transform:translate3d(0,5px,0);}


.page-loading {position: fixed; top:0; left:0; width:100%; height:100%; z-index:999999999; background-color:#050915; opacity:1; pointer-events: all; transition:opacity .4s ease-in-out;
  img {position: absolute; left:0; top:0; right:0; bottom:0; margin:auto;}
  &.hidden {opacity:0;}
}

/*----------------------------------------*/

.event {display: inline-flex; flex-direction: column; justify-content: flex-end; position: relative; overflow: hidden; box-sizing: border-box; vertical-align: top; border-radius: 5px; overflow: hidden; padding: 19px 21px; text-align: left; width: 100%; transform:translate3d(0,0,0);
	&:hover {
		.event__info {opacity: 1; pointer-events: all;}
    	.event__info .event__organizer {transform:translate3d(0,0,0)}
    	.event__info .event__watches, .event__info .event__likes, .event__info .button {transform:translate3d(0,0,0);}
	}
	&_banner {height: 552px; padding: 62px; border-radius: 0;
		.event__bg {opacity: 1;}
		.event__type {position: static; font-size: 14px; font-weight: 600; opacity: 1;}
		.event__name {margin-top: 20px; font-size: 60px; letter-spacing: 0.025em; line-height: 1em;}
		.event__date {margin-top: 38px; font-size: 16px; font-weight: 600;
			span {margin: 0 15px;}
		}
		.event__info {display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 60px;
			.button {position: static; padding: 0; min-width: 120px;}
		}
		.event__likes, .event__watches {margin-top: 29px; font-size: 16px;}
		.event__watches {margin-left: 30px;}
	}
	&_card {height: 180px; background-color:#120323}
	&_bigcard, &_specialcard {height: 380px;
		.event__info {padding: 18px 27px;
			.button {bottom: 45% !important; right: 0 !important; left: 0 !important; margin: auto; top:auto !important}
		}
		.event__likes {position: absolute; right: 147px; bottom: 132px; margin: 0;}
		.event__watches {position: absolute; left: 151px; bottom: 132px; margin: 0;}
	}
	&_specialcard {height: 380px; padding: 19px 23px;
		.event__date {position: absolute; left: 22px; top: 19px; margin: 0;}
		.event__name {font-size: 64px; font-style: italic; font-weight: 900; letter-spacing: 0.05em; max-width: 100%;
			span {display: block; font-size: 12px; font-weight: 600; font-style: normal; line-height: 1em; letter-spacing: 0.05em; margin-left: 4px; margin-top: 14px;
				&:first-child {margin-top: -2px;}
			}
		}
	}
	&__bg {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; min-width: 100%; min-height: 100%; width: 0; object-fit: cover; z-index: -1; opacity: 0.4; transition:opacity .25s ease-in-out;}
	&__type {font-size: 12px; letter-spacing: 0.1em; text-transform: uppercase; opacity: 0.5; position: absolute; left: 21px; top: 21px;}
	&__name {font-size: 18px; font-weight: 600; letter-spacing: 0.05em; line-height: 1.4em;}
	&__date {margin-top: 11px; letter-spacing: 0.075em;
		span {margin: 0 9px;}
	}
	&__time {letter-spacing: 0.16em; margin-top: 84px;}
	&__info {opacity: 0; pointer-events: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(#050915,0.95); box-sizing: border-box; padding: 18px; transition: all 0.25s ease-in-out; z-index: 2;
		.button {width: 99px; position: absolute; right: 15px !important; bottom: 15px !important;}
		a:not(.button):hover {opacity: 0.6;}
		&_viewonmap .button {position: absolute !important; left: 0 !important; right: 0 !important; top: 0 !important; bottom: 0 !important; margin: auto !important; width: 129px; height: 39px;}
	}
	&__likes {display: inline-block; font-size: 14px; margin-top: 79px; letter-spacing: 0.075em;
    font-weight: 300;
		img {vertical-align: middle; margin-right: 9px;     margin-top: -5px;}
	}
	&__watches {display: inline-block; font-size: 14px; margin-top: 79px; margin-left: 18px; letter-spacing: 0.075em;
    font-weight: 300;
		img {vertical-align: middle; margin-right: 9px;     margin-top: -5px;}
	}
	&__organizer {font-weight: 600; font-size: 14px; letter-spacing: 0.025em; display: block;
		.avatar {vertical-align: middle; margin-right: 19px;}
	}
	.button	{position: absolute; right: 76px; bottom: 62px;}
	&__place {position: absolute; right: 17px; bottom: 18px; font-size: 16px; font-weight: 300; letter-spacing: 0.05em;}
}

/*----------------------------------------*/

.last-published {display: inline-block; padding: 10px 0 72px; box-sizing: border-box; text-align: center; width: 100%; margin-top: 9px; position: relative;
	&:after {content: ""; position: absolute; left: -10px; top: 0; border-radius: 5px; border: 1px solid #24013f; width: calc(100% + 20px); height: 100%; pointer-events: none; box-sizing:border-box;}
	.event_card {width: 100%;
		&:first-of-type {margin-top: 0;}
	}
	&__heading {padding: 30px 33px 44px; position: relative; text-align: left;
		&:after {content: ""; position: absolute; left: 36px; top: 100%; border: 6px solid #050915; border-color: #050915 transparent transparent transparent;}
	}
	&__seemore {display: inline-block; font-size: 14px; color: #fff; font-weight: 600; letter-spacing: 0.05em; text-transform: uppercase; margin-top: 74px; transform: translate3d(0,0,0);
		&:hover {opacity: 0.6; transform: translate3d(0,5px,0);
            span {transform: translate3d(0,-10px,0);}
        }
		span {display: inline-block; height: 16px; width: 2px; background-color: #bb105f; position: relative; margin-bottom: 17px; transform: translate3d(0,0,0); transition:all .25s ease-in-out;
			&:after {content: ""; display: inline-block; width: 2px; height: 16px; background-color: #bb105f; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; transform: rotate(90deg) translate3d(0,0,0);}
		}
	}
	&__noevents {width: 100%; box-sizing: border-box; border: 1px solid #24013f; border-radius: 5px; padding: 46px 20px 59px;}
	&__minus {display: inline-block; width: 37px; height: 37px; border-radius: 1000px; border: 1px solid #c41162; position: relative;
		&:after {content: ""; display: inline-block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 14px; height: 1px; background-color: #c41162;}
	}
	&__text {font-size: 16px; letter-spacing: 0.05em; margin-top: 17px;}
}

/*----------------------------------------*/

.map-search {display: inline-flex; vertical-align: top; position: relative; border-radius: 5px; overflow: hidden; justify-content: space-between; align-items: center; height: 179px; box-sizing: border-box; padding: 55px 55px 55px 61px; width: 100%;
	&__bg {position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; min-width: 100%; min-height: 100%; width: 0; object-fit: cover; z-index: -1; opacity: 0.62;}
	&__heading {margin-top: -12px;}
}

/*----------------------------------------*/

.organizers {background-color: #24013f; display: inline-block; position: relative; vertical-align: top; box-sizing: border-box; padding: 35px 9px 44px 37px; width: 100%; height:579px;
	&__list {margin-top: 32px; height: 303px; padding-right:15px !important;
		li {margin-top: 24px; padding: 7px 0;
			&:first-child {margin-top: 0;}
		}
	}
	&__person {display: inline-block; position: relative; padding-left: 78px; font-size: 16px; letter-spacing: 0.025em;
		&:hover {opacity: 0.6;}
		.avatar {position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
		.eventcount {display: block; font-size: 14px; opacity: 0.3; margin-top: 7px;}
		.number {position: absolute; display: inline-block; width: 20px; height: 20px; border-radius: 1000px; text-align: center; line-height: 20px; top: -7px; left: 40px; background-color: #c41162; font-size: 12px; letter-spacing: 0.025em; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out;
			&.active {opacity: 1; pointer-events: all;}
		}
	}
	&__field {position: relative; width: 100%; padding-right: 18px; box-sizing: border-box; margin-top: 36px; margin-left: -9px;
		input {display: inline-block; line-height: 48px; color: #fff; border-radius: 1000px; border: 1px solid #581db4; background-color: transparent; padding: 0 42px 0 21px; letter-spacing: 0.025em; width: 100%;}
		::-webkit-input-placeholder {color:#838488}
		::-moz-placeholder {color:#838488}
		:-ms-input-placeholder {color:#838488}
		:-moz-placeholder {color:#838488}
		button {position: absolute; right: 40px; top: 0; bottom: 0; margin: auto; display: inline-block; width: 14px; height: 14px;
			&:hover {opacity: 0.6;}
			svg {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
		}
	}
}

/*----------------------------------------*/

.most-popular {
	&__heading {box-sizing: border-box; width: 100%; display: inline-block; height: 180px; padding: 56px 64px 40px;}
}

/*----------------------------------------*/

.shortinfo {padding: 45px 23px;
	&__person {padding: 8px 0; padding-left: 72px; position: relative; font-size: 16px; font-weight: 600; letter-spacing: 0.025em;
		.avatar {position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
		.profession {display: block; font-size: 14px; opacity: 0.3; font-weight: 400; margin-bottom: 7px;}
	}
	&__text {font-size: 16px; letter-spacing: 0.025em; opacity: 0.8; line-height: 1.5em; margin-top: 26px;
    &_light {font-weight: 300;}
  }
	&__link {font-size: 14px; font-weight: 600; opacity: 0.3; letter-spacing: 0.025em; margin-top: 29px; display: inline-block;
		&:hover {opacity: 1;}
	}
}

/*----------------------------------------*/

.invited {padding: 35px 20px;box-sizing: border-box;
	&__list {display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 18px;
		li {margin-top: 15px;}
		a:hover {opacity: 0.7;}
	}
	&__more {display: inline-block; width: 70px; height: 70px; border-radius: 1000px; background-color: #c41162; overflow: hidden; line-height: 70px; text-align: center; font-size: 18px; letter-spacing: 0.05em;}
  &__text {padding: 26px 0; font-size: 16px; letter-spacing: 0.025em; opacity: 0.8; line-height: 1.5em; font-weight: 300;}
  &_dark-purple-bg {background-color: #100824;}
  &_stretch {min-height: 100%;}
}

/*----------------------------------------*/

.map-block {width: 100%; height: 380px; background-color: #0a0b1c; position: relative;
	&__zoom {position: absolute; right: 22px; top: 28px; z-index: 3;}
	&__plus, &__minus {display: block; width: 14px; height: 14px; position: relative; cursor: pointer; transition: all 0.25s ease-in-out;
		&:before, &:after {content: ""; display: inline-block; width: 14px; height: 2px; background-color: #fff; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
		&:hover {opacity: 0.7;}
	}
	&__plus {
		&:after {transform: rotate(90deg);}
	}
	&__minus {margin-top: 11px;
		&:after {display: none;}
	}
	&__info {position: absolute; left: 24px; bottom: 24px; z-index: 3;}
	&__place {font-size: 18px; font-weight: 600; letter-spacing: 0.05em;}
	&__address {letter-spacing: 0.05em; opacity: 0.5; line-height: 1.5em; margin-top: 13px;}
}

/*----------------------------------------*/

.music {background-color: #100824;box-sizing: border-box;
	&__heading {padding: 34px 21px;}
	&__list {
		li {border-top: 1px solid rgba(#5c1bbf,0.1); padding: 33px 24px; transition: all 0.25s ease-in-out; cursor: pointer; position: relative;
			&:hover {background-color: #24013f;}
			&.active {background-color: #24013f; cursor: auto;
				.music__progressbar {opacity: 1;}
				.music__play {opacity: 1; pointer-events: all;
					&:hover {opacity: 0.7;}
				}
			}
		}
	}
	&__author {font-weight: 600; text-transform: uppercase; letter-spacing: 0.05em;}
	&__name {letter-spacing: 0.05em; opacity: 0.3; margin-top: 7px;}
	&__play {position: absolute; top: 0; bottom: 2px; right: 26px; margin: auto; display: inline-block; width: 14px; height: 17px; opacity: 0; pointer-events: none; cursor: pointer; transition: all 0.25s ease-in-out;
		&:before, &:after {content: ""; display: inline-block; position: absolute; width: 3px; height: 17px; border-radius: 1.5px; background-color: #fff;}
		&:before {left: 0;}
		&:after {right: 0;}
		&.paused {
			&:before {opacity: 0; pointer-events: none;}
			&:after {content: ""; display: inline-block; width: 0; height: 0; border: 20px solid #fff; border-color: transparent transparent transparent #fff; border-width: 7px 14px; position: absolute; left: 0; top: 0; bottom: 0; right: auto; margin: auto; border-radius: 0; background-color: transparent;}
		}
	}
	&__progressbar {display: inline-block; position: absolute; left: 0; bottom: 0; height: 3px; width: 100%; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out;}
	&__progress {display: inline-block; width: 100%; height: 100%; background-color: #c41162; transform: scale3d(0.67,1,1); transform-origin: left;}
  &__text {box-sizing: border-box; padding: 0 24px 26px; font-size: 16px; letter-spacing: 0.025em; opacity: 0.8; line-height: 1.5em; font-weight: 300;}
  &_stretch {min-height: 100%;}
}

/*----------------------------------------*/

.photos {display: flex; flex-wrap: wrap;
	.column	{display: inline-flex; flex-wrap: wrap; align-content: flex-start; position: relative;}
	&__heading {position: absolute; left: 29px; top: -54px;}
	&__filter {position: absolute; left: 9px; top: -43px;
		li {margin-left: 57px;}
	}
	&__card {display: inline-block; width: 100%; height: 180px; border-radius: 5px; overflow: hidden; position: relative; margin-top: 19px; text-align: center;
		&:after {content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #444858; opacity: 0.28; pointer-events: none;}
		&:hover {
			img {opacity: 0.5;}
		}
		img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; min-width: 100%; min-height: 100%; width: 0; object-fit: cover; z-index: 0; transition: all 0.25s ease-in-out;}
		&_more {display: inline-flex; justify-content: center; align-items: center;
			&:after {opacity: 0.1;}
			img {filter: grayscale(30%); opacity: 0.05;}
			&:hover {
				img {opacity: 0.05;}
				.photos__text {transform: translate3d(0,5px,0);
					span {transform: translate3d(0,-10px,0);}
				}
			}
		}
		&_big {height: 377px;}
		&_upload {background-color: #24013f; display: inline-flex; justify-content: center; align-items: center;
			&:after {display: none;}
			p {font-size: 18px; font-weight: 600; letter-spacing: 0.05em; position: relative; padding-left: 7px; transition: all 0.25s ease-in-out;}
			span {color: #c41162; left: -9px; position: absolute; transition: all 0.25s ease-in-out;}
			&:hover {
				p {transform: translate3d(5px,0,0);}
				span {transform: translate3d(-10px,0,0);}
			}
		}
	}
	&__text {font-size: 18px; letter-spacing: 0.05em; color: #77787a; text-align: left; transition: all 0.25s ease-in-out;
		span {display: block; font-size: 24px; color: #fff; margin-bottom: 10px; transition: all 0.25s ease-in-out;}
	}
}

/*----------------------------------------*/

.costumes {display: inline-block; vertical-align: top; width: 50%; margin-top: 75px;
	.column {width: 50%;}
	&__heading {padding-left: 32px; margin-bottom: 40px;}
	&__card {display: inline-flex; width: 100%; height: 180px; border-radius: 5px; overflow: hidden; position: relative; text-align: center; align-items: center; padding: 11px 22px 0; transition: all 0.25s ease-in-out;
		&:hover {opacity: 0.7;}
		img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; min-width: 100%; min-height: 100%; width: 0; object-fit: cover; z-index: -1; transition: all 0.25s ease-in-out; opacity: 0.8;}
		p {font-size: 18px; font-weight: 600; letter-spacing: 0.05em; text-align: left;}
		span {display: block; font-size: 16px; font-weight: 400; margin-top: 10px;}
	}
}

/*----------------------------------------*/

.gifts {display: inline-block; vertical-align: top; width: 25%; margin-top: 75px;
	.column {width: 100%;}
	&__heading {padding-left: 32px;}
	&__card {display: inline-flex; width: 100%; height: 180px; border-radius: 5px; overflow: hidden; position: relative; margin-top: 40px; text-align: center; align-items: center; padding: 11px 22px 0; transition: all 0.25s ease-in-out;
		&:hover {opacity: 0.7;}
		img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; min-width: 100%; min-height: 100%; width: 0; object-fit: cover; z-index: -1; transition: all 0.25s ease-in-out; opacity: 0.8;}
		p {font-size: 18px; font-weight: 600; letter-spacing: 0.05em; text-align: left;}
		span {display: block; font-size: 16px; font-weight: 400; margin-top: 10px;}
	}
}

/*----------------------------------------*/

.recommendation {display: inline-block; vertical-align: top; width: 25%; margin-top: 61px;
	.column {width: 100%;}
	&__head {display: inline-block; position: relative; padding: 19px 0; padding-left: 72px; font-size: 16px; font-weight: 600; letter-spacing: 0.025em;
		&:hover {opacity: 0.7;}
		.avatar {position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
		.rectext {font-size: 14px; font-weight: 400; color: #77787b; margin-left: 5px;}
	}
	.event {margin-top: 29px;}
}

/*----------------------------------------*/

.comments {display: inline-block; vertical-align: top; width: 50%; padding: 0 15px 0 25px; box-sizing: border-box; margin-top: 78px;
	&__heading {padding-left: 8px;}
	&__form {display: flex; justify-content: space-between; align-items: flex-start; margin-top: 39px; position: relative; min-height: 89px;
		textarea {margin-left: 30px; flex: 1; height: 55px; border-radius: 5px; background-color: #130a2a; resize: none; transition: all 0.25s ease-in-out; font-size: 14px; color: #fff; letter-spacing: 0.025em; padding: 12px 16px; line-height: 1.5em;
			&:focus {height: 70px;
				& ~ button {opacity: 1; pointer-events: all;}
			}
		}
		.button {position: absolute; right: 0; top: 100%; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out; padding: 0 33px;}
	}
	&__list {margin-top: 13px;
		li {position: relative; padding-left: 84px; padding-top: 8px; margin-top: 44px;
			&:first-child {margin-top: 0;}
			.avatar {position: absolute; left: 0; top: 0;}
		}
	}
	&__author {font-size: 16px; font-weight: 600; letter-spacing: 0.025em;}
	&__time {font-weight: 400; opacity: 0.3; margin-left: 15px;}
	&__text {margin-top: 8px; letter-spacing: 0.025em; opacity: 0.8; line-height: 1.5em;}
	&__reply {font-size: 14px; font-weight: 600; opacity: 0.3; letter-spacing: 0.05em; text-transform: uppercase; margin-top: 12px; display: inline-block;
		&:hover {opacity: 1;}
	}
	&__answer {margin-left: 85px;}
}

/*----------------------------------------*/

.tags {display: inline-block; vertical-align: top; width: 50%; box-sizing: border-box; margin-top: 91px; padding: 0 50px 0 125px;
	&__all {font-size: 14px; color: #fff; font-weight: 600; letter-spacing: 0.1em; text-transform: uppercase; position: relative; padding-right: 12px;
		&:after {content: ""; display: inline-block; width: 0; height: 0; border: 3px solid #fff; border-color: #fff transparent transparent transparent; position: absolute; top: 0; right: 0; bottom: 0; margin: auto; transform: translateY(25%); transform-origin: 25% 50%;}
		&:hover {opacity: 0.6;}
	}
	&__list {margin-top: 15px;
		li {display: inline-block; vertical-align: top; margin-right: 11px; margin-top: 11px; font-size: 12px; letter-spacing: 0.075em; height: 42px; line-height: 42px; padding: 0 23px; border-radius: 1000px; cursor: pointer; transition: all 0.25s ease-in-out; box-shadow: inset 0 0 0 2px #1e0337;
			&:hover {background-color: #1e0337;}
		}
	}
}

/*----------------------------------------*/

.userinfo {background-color: #100824; text-align: center; padding-top: 43px; position: relative;
	&__avatar {width: 100px; height: 100px;}
	&__imgupload {display: block; width: 30px; height: 30px; border-radius: 1000px; background-color: #100824; overflow: hidden; position: relative; margin: auto; margin-top: -18px; cursor: pointer;
		&:hover img {opacity: 0.7;}
		img {position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; height: 10px; object-fit: none; transition: all 0.25s ease-in-out;}
	}
	&__name {font-size: 18px; font-weight: 600; letter-spacing: 0.025em; margin-top: 15px;}
	&__tablinks {text-align: left; border-top: 1px solid rgba(#5c1bbf,0.1); margin-top: 37px; padding: 35px 21px;
		li {margin-top: 24px;
			&:first-child {margin-top: 0;}
		}
	}
	&__link {font-size: 14px; font-weight: 600; letter-spacing: 0.1em; text-transform: uppercase; display: block; position: relative; cursor: pointer;
		&:hover {opacity: 0.7;}
		span {position: absolute; right: 0; top: 0; bottom: 0; margin: auto; font-weight: 400; opacity: 0.3;}
	}
	&__about {text-align: left; border-top: 1px solid rgba(#5c1bbf,0.1); padding: 33px 21px;}
	&__about-heading {font-weight: 600; letter-spacing: 0.1em; opacity: 0.8;}
	&__about-text {letter-spacing: 0.025em; opacity: 0.5; margin-top: 12px; line-height: 1.75em;}
	&__registration-date {text-align: left; border-top: 1px solid rgba(#5c1bbf,0.4); font-size: 12px; letter-spacing: 0.025em; color: #79777f; opacity: 0.3; padding: 25px 21px 28px;
		span {color: #a6a5aa;}
	}
	&__delete {display: inline-block; font-size: 14px; font-weight: 600; color: #c41162; letter-spacing: 0.1em; margin-top: 39px; padding-left: 21px; text-transform: uppercase; transform: translate3d(0,0,0);
		&:hover {opacity: 0.7;}
	}
	&__dots {position: absolute; right: 22px; top: 22px;}
	&__shortinfo {font-weight: 300; letter-spacing: 0.025em; opacity: 0.3; margin-top: 12px;}
	&__button {margin-top: 27px; padding: 0 38px; min-width: 140px;}
	.dots__menu {right: auto; left: -13px;
		&:after {right: auto; left: 21px;}
	}
}

/*----------------------------------------*/

.eventinfo {padding-top: 48px; width: 100%;
	&__head {display: flex; align-items: flex-end; margin-bottom: 21px;}
	&__heading {padding-left: 21px; width: 33.3333%; box-sizing: border-box;}
	&__filter {padding-left: 7px;
		li {margin-left: 71px;}
	}
	.event {margin-top: 20px;
		img {bottom: auto;}
	}
}

/*----------------------------------------*/

.following {width: 100%;
	&__heading {width: 100%; margin-top: 48px; padding-left: 21px;}
	&__nofollow {width: 100%; font-size: 16px; letter-spacing: 0.025em; color: #77787b; padding-left: 21px; margin-top: 34px;}
	&__list {width: 100%; margin-top: 29px; padding-left: 22px;
		> li {margin-top: 22px; padding: 7px 0; position: relative; padding-right: 55px;
			&:first-child {margin-top: 0;}
			&:last-child .dots__menu {top: -50px;}
		}
	}
	&__person {display: inline-block; position: relative; padding-left: 78px; font-size: 16px; letter-spacing: 0.025em;
		&:hover {opacity: 0.6;}
		.avatar {position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
		.location {display: block; font-size: 14px; opacity: 0.3; margin-top: 7px;}
		.number {position: absolute; display: inline-block; width: 20px; height: 20px; border-radius: 1000px; text-align: center; line-height: 20px; top: 0; left: 40px; bottom: 0; margin: auto; transform: translateY(-18px); background-color: #c41162; font-size: 12px; letter-spacing: 0.025em; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out;
			&.active {opacity: 1; pointer-events: all;}
		}
	}
	&__dots {position: absolute; right: 19px; top: -7px; bottom: 0; margin: auto;}
	&_followers .following__dots {right: 8px; top: -5px;}
}

/*----------------------------------------*/

.settings {width: 100%; padding-top: 48px; padding-left: 21px; text-align: center;
	input, select, textarea {width: 78%; font-size: 14px; font-weight: 600; color: #fff; letter-spacing: 0.025em; background-color: transparent; border: 1px solid #211539; border-radius: 5px; padding: 0 25px;
		&:focus {border-color: #5c1bbf;}
	}
	input, select {height: 50px; line-height: 50px;}
	select {padding: 0 21px;}
	textarea {height: 123px; resize: none; padding: 12px 25px; font-weight: 400; line-height: 1.75em;}
	&__heading {margin-bottom: 41px; text-align: left;}
	&__field {display: flex; width: 100%; align-items: center; margin-top: 30px; text-align: left;
		&:first-of-type {margin-top: 0;}
		&_username {margin: 60px 0;}
		&_location {margin-bottom: 60px;
			.selectbox {width: 37%;}
			input {width: 37%; margin-left: 4%;}
		}
		&_birthday {
			.selectbox {width: 23%;
				+ .selectbox {margin-left: 4.5%;}
			}
		}
		&_textarea {align-items: flex-start;
			.settings__fieldname {margin-top: 18px;}
		}
	}
	&__fieldname {font-weight: 300; opacity: 0.3; letter-spacing: 0.025em; width: 22%;}
	&__button {margin-top: 60px; margin-left: -21px; padding: 0 45px;}
}

/*----------------------------------------*/

.login {position: fixed; top: 100px; left: 0; width: 100%; z-index: 11; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out; overflow-y: scroll; box-sizing: border-box; height: 100vh; display: flex; background-color: rgba(#050915,0.85);
	&.active {opacity: 1; pointer-events: all;}
	&__left-side {width: 50%; margin: auto; min-height: 100%; display: flex; justify-content: flex-end; align-items: center;}
	&__help {background-color: #050915; width: 535px; height: 483px; box-sizing: border-box; padding: 30px 85px 20px 124px; display: flex; flex-direction: column; justify-content: center;
		.button {min-width: 129px; align-self: flex-start; margin-top: 35px; padding: 0 20px;}
	}
	&__helptext {font-size: 16px; font-weight: 300; letter-spacing: 0.05em; opacity: 0.8; line-height: 1.9em; margin-top: 21px;}
	&__right-side {width: 50%; background-color: #100824; padding: 128px 102px; box-sizing: border-box; display: flex; align-items: center; margin: auto; min-height: 100%;}
	&__form {text-align: center; width: 442px;
		input {width: 100%; font-size: 14px; font-weight: 600; color: #fff; letter-spacing: 0.025em; background-color: transparent; border: 1px solid #211539; border-radius: 5px; padding: 0 25px; height: 50px; line-height: 50px;
			&:focus {border-color: #5c1bbf;}
		}
		::-webkit-input-placeholder {font-weight: 400;}
		::-moz-placeholder {font-weight: 400;}
		:-ms-input-placeholder {font-weight: 400;}
		:-moz-placeholder {font-weight: 400;}
	}
	&__field {position: relative; margin-top: 30px;
		&:first-of-type {margin-top: 44px;}
		&.error {
			input {border-color: #c41162;}
			.login__errortext {opacity: 1; pointer-events: all;}
		}
		&_half {display: flex; justify-content: space-between;
			input {width: 47%;}
		}
	}
	&__errortext {font-size: 13px; font-weight: 300; letter-spacing: 0.05em; color: #c41162; opacity: 0; pointer-events: none; position: absolute; left: 24px; top: 100%; margin-top: 6px;}
	&__buttonblock {margin-top: 38px; display: flex; justify-content: space-between; align-items: center;}
	&__button {min-width: 129px; padding: 0 20px;}
	&__addtext {font-size: 16px; letter-spacing: 0.025em; color: #77787b;
		&:hover {color: #fff;}
	}
	&__social {margin-top: 68px; display: flex; justify-content: space-between; flex-wrap: wrap;}
	&__socialtext {font-size: 16px; font-weight: 300; letter-spacing: 0.05em; margin-top: -8px; position: relative; width: 100%;
		span {opacity: 0.15;}
		&:before, &:after {content: ""; border-top: 1px solid #211539; position: absolute; top: 0; bottom: 0; margin: auto; width: 35%; height: 0;}
		&:before {left: 0;}
		&:after {right: 0;}
	}
	&__socialbutton {display: inline-block; min-width: 204px; height: 50px; border: 1px solid #211539; border-radius: 5px; line-height: 50px; padding: 0 20px 0 30px; text-align: center; position: relative; font-size: 14px; font-weight: 600; letter-spacing: 0.025em; color: #77787b; margin-top: 43px;
		img {position: absolute; left: 15px; top: 0; bottom: 0; margin: auto;}
		&:hover {border-color: #77787b;}
	}
	&__help[data-login="signup"] {display: none;}
	&__form[data-login="signup"] {display: none;}
	&__success {display: none; text-align: center; width: 460px;}
	&__successtext {margin-top: 25px; line-height: 2.2em; font-size: 16px; letter-spacing: 0.025em;
		a {color: #5a1bbc; text-decoration: underline; font-size: 16px; font-weight: 400;
			&:hover {opacity: 0.7;}
		}
	}
}

/*----------------------------------------*/

.search {width: 100%; background-color: #100824; padding-top: 35px;
	&__heading {padding-left: 37px;}
	&__topform {padding: 0 43px 0 39px; position: relative; margin-top: 26px;
		input {width: 100%; font-size: 14px; font-weight: 600; color: #fff; letter-spacing: 0.025em; background-color: transparent; border: 1px solid #211539; border-radius: 5px; padding: 0 45px 0 25px; height: 50px; line-height: 50px;
			&:focus {border-color: #5c1bbf;}
		}
		::-webkit-input-placeholder {font-weight: 400;}
		::-moz-placeholder {font-weight: 400;}
		:-ms-input-placeholder {font-weight: 400;}
		:-moz-placeholder {font-weight: 400;}
		button {position: absolute; top: 0; right: 63px; bottom: 0; margin: auto; width: 17px; height: 17px; padding: 0;
			&:hover {opacity: 0.7;}
		}
	}
	&__detailform {border-top: 1px solid rgba(#5c1bbf,0.1); margin-top: 39px; padding-top: 36px; padding-bottom: 57px; text-align: center;
		input {width: 100%; font-size: 14px; font-weight: 600; color: #fff; letter-spacing: 0.025em; background-color: transparent; border: 1px solid #211539; border-radius: 5px; padding: 0 25px; height: 50px; line-height: 50px;
			&:focus {border-color: #5c1bbf;}
		}
		::-webkit-input-placeholder {font-weight: 400;}
		::-moz-placeholder {font-weight: 400;}
		:-ms-input-placeholder {font-weight: 400;}
		:-moz-placeholder {font-weight: 400;}
	}
	&__field {padding: 0 43px 0 39px; display: flex; justify-content: space-between; margin-top: 36px; position: relative;
		&:first-child {margin-top: 0;}
		&.active {
			.search__select:after {transform: rotate(180deg);}
			.search__hidden {opacity: 1; pointer-events: all;}
		}
	}
	&__select {font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.05em; position: relative; cursor: pointer; padding-right: 38px; transition: all 0.25s ease-in-out;
		&:after {content: ""; display: inline-block; width: 0; height: 0; border: 3px solid #fff; border-color: #fff transparent transparent transparent; position: absolute; top: 20%; right: 0; bottom: 0; margin: auto; transform-origin: 50% 25%; transition: all 0.25s ease-in-out;}
		&:hover {opacity: 0.6;}
	}
	&__value {font-size: 14px; letter-spacing: 0.05em; color: #77787b; max-width: 118px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
	&__switch {border-top: 1px solid rgba(#5c1bbf,0.1); margin-top: 35px; padding: 43px 43px 43px 39px; display: flex; justify-content: space-between; align-items: center;}
	&__option {font-size: 14px; font-weight: 600; letter-spacing: 0.05em; text-transform: uppercase; color: #77787b; transition: all 0.25s ease-in-out; cursor: pointer;
		&:hover, &.active {color: #fff;}
	}
	&__selector {width: 36px; height: 19px; border-radius: 1000px; background-color: #180a34; position: relative; cursor: pointer;
		span {width: 21px; height: 21px; border-radius: 1000px; background-color: #5c1bbf; position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; transition: all 0.25s ease-in-out; box-shadow: 0px 3px 4px 0px rgba(92, 27, 191, 0.2); transition: all 0.25s ease-in-out; transform: translate3d(-9px,0,0);}
		&:hover span {opacity: 0.7;}
		&.active span {transform: translate3d(9px,0,0);}
	}
	&__button {margin-top: 5px; padding: 0 40px;}
	&__hidden {position: absolute; z-index: 3; left: 0; top: 100%; width: 100%; text-align: center; background-color: #100824; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out; padding: 0 43px 25px 39px; box-sizing: border-box;}
	&__hidden-close {display: inline-block; font-size: 12px; letter-spacing: 0.025em; color: #79777f; opacity: 0.3; text-transform: uppercase; cursor: pointer;
		&:hover {opacity: 1;}
	}
	&__calendar {width: 100%; padding: 32px 0; background-color: #100824;
		.calendar__daysoftheweek {margin-top: 34px; margin-bottom: 16px;}
	}
	&__time {display: flex; justify-content: space-between; padding: 25px 0 23px;
		input {text-align: center; width: 43%; font-weight: 400;}
		span {font-size: 14px; line-height: 50px;}
	}
	&__address {padding: 28px 0;
		input {margin-top: 22px;
			&:first-child {margin-top: 0;}
		}
	}
}

/*----------------------------------------*/

.smallmap, .bigmap {position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100%; z-index: 1;}

/*----------------------------------------*/

.marker {display: inline-block; vertical-align: top; width: 60px; height: 60px; border-radius: 1000px; background-color: rgba(#fff,0.15); position: relative; cursor: pointer;
	&:after {content: ""; display: inline-block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 10px; height: 10px; border-radius: 1000px; background-color: rgba(#fff,0.85);}
	&_count {background-color: #5c1bbf; box-shadow: 0px 4px 6px 0px rgba(92, 27, 191, 0.35); font-size: 18px; font-weight: 600; letter-spacing: 0.05em; line-height: 60px; text-align: center;
		&:after {display: none;}
	}
	&.active {background-color: rgba(#5c1bbf,0.85);
		&:before {content: ""; display: inline-block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; width: 100px; height: 100px; border-radius: 1000px; background-color: rgba(#5c1bbf,0.15); transform: translate3d(-20%,0,0);}
	}
  &_big-purple {
    background-color: rgba(#5c1bbf,0.85); box-shadow: 0 0 0 20px rgba(#5c1bbf,0.15);
  }
}

/*----------------------------------------*/

.selectbox {position: relative;
    select {cursor:pointer; width: 100%; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
    li {font-size: 14px; font-weight: 600; color: #fff; letter-spacing: 0.025em; background-color: transparent; padding: 0 25px; height: 50px; line-height: 50px; cursor: pointer; transition: all 0.25s ease-in-out;
		&:hover {background-color: #100824;}
	}
    ul {position: absolute; left:0; top:100%; width:100%; opacity:0; pointer-events: none; -webkit-transition:all .25s ease-in-out; transition:all .25s ease-in-out; z-index:3; border: 1px solid #211539; border-radius: 5px; background-color: #050915;}
	&:after {content: ""; display: inline-block; width: 0; height: 0; border: 3px solid #fff; border-color: #fff transparent transparent transparent; position: absolute; top: 5px; right: 15px; bottom: 0; margin: auto; transform-origin: 50% 25%; transition: all 0.25s ease-in-out;}
	&.active select {border-color: #5c1bbf;}
	&.active ul {opacity:1; pointer-events:all;}
	&.active:after {transform: rotate(180deg);}
}

/*----------------------------------------*/

.create-party {
    width: 100%;
    &__link {display: inline-block;  width: 100%; box-sizing: border-box; transition: all .25s ease-in-out; background-color: #050915;
      &:hover {background-color: #c41162;}
      &:hover .create-party__text {color: #fff;}
    }
    &__text {width: 100%; text-align:center; border:0; display:inline-block; font-size:16px;  line-height: 60px; font-weight: 700; padding: 0 50px; cursor: pointer; color: #c41162; transition: all .25s ease-in-out;}
}

.sticky {position: fixed; bottom: 0; left: 0; z-index: 10;}
.not-sticky {position: relative; bottom: auto; left: auto; z-index: 10;}

// Секции, header, footer и т.д. //

.header {
	&.active .container:after {opacity: 1; pointer-events: all;}
	.container {display: flex; align-items: center; height: 100px; position: relative;
		&:after {content: ""; display: inline-block; height: 100%; width: 10000px; position: absolute; left: 100%; top: 0; background-color: #100824; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out;}
	}
	&__leftside {width: 50%; height: 100%; display: flex; align-items: center;}
	&__logo {margin-top: -4px; margin-left: 9px;}
	&__searchfield {margin-left: 81px; display: flex; align-items: center;
		input {font-size: 14px; color: #6b5a6a; font-weight: 300; letter-spacing: 0.03em; background-color: transparent;}
		button {background-color: transparent; border: 0; padding: 0; margin-left: 16px; transition: all 0.25s ease-in-out;
			&:hover {opacity: 0.6;}
		}
	}
	&__date {margin-left: 11px; width: 211px; position: relative; height: 100%; display: flex; align-items: center; justify-content: center;
		&.active {background-color: #050915; z-index: 60;
			.header__calendar {opacity: 1; pointer-events: all;}
		}
	}
	&__link {font-size: 14px; color: #fff; font-weight: 600; letter-spacing: 0.05em; text-transform: uppercase; position: relative; padding-right: 22px; cursor: pointer;
		&:after {content: ""; display: inline-block; width: 0; height: 0; border: 3px solid #fff; border-color: #fff transparent transparent transparent; position: absolute; top: 20%; right: 0; bottom: 0; margin: auto; transform-origin: 50% 25%; transition: all 0.25s ease-in-out;}
		&:hover {opacity: 0.6;}
		&.active:after {transform: translate3d(0,0,0) rotate(180deg);}
	}
	&__events {width: 295px; background-color: #24013f; height: 100%; display: flex; align-items: center; justify-content: center;}
	&__account {background-color: #100824; height: 100%; width: 315px; display: flex; align-items: center; justify-content: space-between; position: relative;
		> .header__link {padding-right: 0; letter-spacing: 0.1em; margin-right:55px;
			&:first-child {margin-left: 55px; margin-right:0}
			&:after {display: none;}
		}
		&.active {z-index: 60;}
	}
	&__calendar {opacity: 0; pointer-events: none; position: absolute; left: 0; top: 100%; margin-top: -5px; transition: all 0.25s ease-in-out;}
	&__hint {opacity: 0; pointer-events: none; position: absolute; left: -161px; top: 100%; margin-top: -5px; display: inline-block; border: 1px solid #c41162; border-top: 0; z-index: 60; font-size: 16px; font-weight: 600; letter-spacing: 0.05em; box-sizing: border-box; width: 286px; padding: 65px 60px 67px 65px; line-height: 1.5em; transition: all 0.25s ease-in-out;
		&:before {content: ""; position: absolute; left: 0; top: 0; width: 235px; border-top: 1px solid #c41162;}
		&:after {content: ""; position: absolute; right: 0; top: 0; width: 31px; border-top: 1px solid #c41162;}
		span {position: absolute; left: 235px; top: 0; width: 12px; border-top: 1px solid #c41162; transform: rotate(-35deg); transform-origin: left;
			&:after {content: ""; position: absolute; right: 0; top: -1px; width: 12px; border-top: 1px solid #c41162; transform: rotate(250deg); transform-origin: right;}
		}
		&.active {opacity: 1; pointer-events: all;}
	}
	&__username {display: block; position: relative; padding-left: 53px; padding-right: 16px; font-size: 16px; letter-spacing: 0.025em; margin: auto; display: none; cursor: pointer; position: relative;
		&:after {content: ""; display: inline-block; width: 0; height: 0; border: 3px solid #fff; border-color: #fff transparent transparent transparent; position: absolute; top: 20%; right: 0; bottom: 0; margin: auto; transform-origin: 50% 25%; transition: all 0.25s ease-in-out;}
		.avatar {position: absolute; left: 0; top: 0; bottom: 0; margin: auto;}
		&:hover {opacity: 0.7;}
		&.active:after {transform: translate3d(0,0,0) rotate(180deg); z-index: 60;}
	}
	&__usermenu {position: absolute; left: 0; top: 100%; width: 100%; z-index: 2; background-color: #100824; border-top: 1px solid rgba(#5c1bbf,0.1); padding-top: 34px; overflow: hidden; opacity: 0; pointer-events: none; transition: all 0.25s ease-in-out;
		&.active {opacity: 1; pointer-events: all;}
		.header__link {display: inline-block; padding: 0;
			&:after {display: none;}
		}
		li {width: 144px; margin: 24px auto 0;
			&:first-child {margin-top: 0;}
			&.logout {margin-top: 34px; padding: 36px 0; position: relative;
				&:after {content: ""; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 300%; border-top: 1px solid rgba(#5c1bbf,0.1);}
			}
		}
	}
}

/*----------------------------------------*/

.main {padding-bottom: 19px;
	.container {display: flex; justify-content: space-between;
		> .column:last-child {padding: 0 10px;}
	}
	.column_big {padding: 0 10px;
		> .column {padding-left: 10px;}
		.column_med {padding-left: 0; padding-right: 10px;}
	}
	.column_med {
		.column {
			&:nth-child(2) {padding-left: 0; padding-right: 10px;}
			&:last-child {padding-left: 10px; padding-right: 0;}
		}
	}
	.map-search {margin-top: 20px; margin-bottom: 20px;}
	.organizers {margin-top: 20px;}
	.event {margin-top: 20px;
		&:first-child {margin-top: 0;}
	}
}

/*----------------------------------------*/

.event-page {padding-bottom: 85px;
	.column {padding: 0 10px;}
	&__middle {display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; align-content: stretch; flex-wrap: wrap; margin-top: 15px;}
  &__bottom {display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; align-content: flex-start; flex-wrap: wrap;}
}

/*----------------------------------------*/

.profile {padding-bottom: 20px;
	.column {padding: 0 10px;}
	.column_big {
		.column {width: 33.3333%;}
		.column_med {width: 66.6666%; padding-right: 10px; box-sizing: border-box;}
    .column_half {width: 50%; box-sizing: border-box;}
		.column:last-child {padding-right: 0;}
	}
	.eventinfo {
		.column:nth-child(2) {padding-left: 0;}
	}
	.last-published {padding-bottom: 0;}
	.last-published:after {display: none;}
	.last-published__heading {padding: 27px 38px 41px; line-height: 1.35em;}
	.last-published__heading:after {display: none;}
}

/*----------------------------------------*/

.settings-page {padding-bottom: 60px;
	.column {padding: 0 10px;}
}

/*----------------------------------------*/

.maps {min-height: 860px; position: relative; box-sizing: border-box; padding: 20px 0;
	.container {pointer-events: none; z-index: 2; position: relative;}
	.column {padding: 0 10px; pointer-events: all; position: relative; z-index: 3;}
	.column_search {width: 33.2%;}
	.column_big {width: 66.8%;
		.column {width: 33.3333%;}
	}
	.column_resultmap {position: absolute; right: 0;}
	.search-result .column {
		&:first-child {padding-left: 0;}
		&:last-child {padding-right: 0;}
	}
	.event {margin-top: 20px;
		&:first-child {margin-top: 0;}
	}
}

/*----------------------------------------*/

.footer {background-color: #100824; padding: 48px 0 58px;
	.container {display: flex; justify-content: space-between; align-items: center; box-sizing: border-box; padding: 0 10px;}
	&__text {opacity: 0.5; letter-spacing: 0.05em; font-size: 14px; width:170px;
		&:last-child {text-align: right}
	}
	&__mail:hover {opacity: 1;}
	&__apptext {font-weight: 500; letter-spacing: 0.05em; margin-bottom: 33px;}
	&__app {text-align: center; margin-top: -5px;}
	&__appshop {display: inline-block; vertical-align: middle; margin: 0 26px;
		&:hover {opacity: 0.6;}
	}
}

// Секции, header, footer и т.д. //









// Всплывающие окна и другие элементы сайта //
.popup {display: none; width: 1200px; background-color: transparent; box-sizing: border-box;}

.popup-close {position: absolute; top: 0; right: 0; width: 18px; height: 18px; background: transparent url('../img/icon_cross.svg') 50% 50% no-repeat; background-size: 18px 18px; cursor: pointer;}

.slider-arrow {position: absolute; top: 50%; width: 16px; height: 30px; background: transparent url('../img/icon_arrow_slider.svg') 50% 50% no-repeat; background-size: 16px 29px; cursor: pointer; z-index: 99995;transition: opacity .25s ease-in-out;
  &__left {left: -50px; transform: translate(0, -50%) rotate(180deg);}
  &__right {right: -50px; transform: translate(0, -50%);}
  &[disabled] {opacity: .5}
  &:hover {opacity: .8 }
}

.fancybox-inner .like {
  position: absolute;
  left: 50%;
  bottom: 56px;
  transform: translate(-50%, 0);
  z-index: 100000;
}


.like {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &__counter {
    color: #fff;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    transition: all .25s ease-in-out;
  }

  svg {
    width: 19px;
    height: 17px;
    fill: #fff;
    margin-right: 5px;
    transition: all .25s ease-in-out;
  }

  &:hover {

    svg {
      fill: rgba(#fff, .6);
    }

    .like__counter {
      color: rgba(#fff, .6);
    }
  }

  &.vote {

    svg {
      fill: $pink;
    }
  }
}

.fancybox-is-open .fancybox-bg {opacity: .8;}

.fancybox-bg {background: #050915;}

.all-invited {padding: 20px 8px 20px 15px;
	&__heading {padding-left: 7px;}
	&__list {margin-top: 25px;}
	&__row {margin-top: 39px; display: flex; justify-content: space-between; flex-wrap: wrap;
		&:first-child {margin-top: 0;}
		li {margin-top: 10px; text-align: center; width: 10%;}
		.avatar {width: 100px; height: 100px; transform: translate3d(0,0,0);}
		a {display: inline-block;
			&:hover {opacity: 0.7;}
		}
	}
	&__name {font-size: 18px; font-weight: 600; letter-spacing: 0.025em; margin-top: 14px; line-height: 1.35em;}
}

.all-photos {padding: 20px 0;
	.column {padding: 0 10px; margin-top: 17px;}
	&__heading {padding-left: 21px;}
}
// Всплывающие окна и другие элементы сайта //

.messages {
  padding: 46px 10px 0;
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  min-height: 100%;

  &__heading {
    padding: 0 20px;
    width: 100%;
    margin-bottom: 17px;
  }

  &__list {
    flex: 1;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba($light-violet, .8);
    overflow: hidden;
  }

  &__item {
    position: relative;
    padding: 16px 23px;
    transition: all .25s ease-in-out;

    &.active {
      padding: 20px 23px;
      background-color: $violet;

      .message p {
        color: #fff;
      }

      .messages__controls {
        opacity: 1;
        pointer-events: all;
      }
    }

    &:hover {
      background-color: $violet;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 13px;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;
  }

  &__button {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 14px;
    }

    svg {
      fill: rgba(#fff, .8);
      transition: all .25s ease-in-out;
    }

    &_sound {

      svg {
        width: 10px;
        height: 14px;
      }
    }

    &_remove {

      svg {
        width: 9px;
        height: 9px;
      }
    }

    &:hover {

      svg {
        fill: rgba(#fff, .6);
      }
    }
  }

  .scroll-wrapper {
    padding: 0 !important;
  }
}

.info-messages {
  box-sizing: border-box;
  padding: 0;
  padding-left: 34px;
  padding-top: 99px;
  width: 41%;

  &__event {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;

    &-col {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      .event {
        max-width: 285px;
      }

      &_dot {
        width: 25px;
        max-width: 25px;
      }
    }
  }

  &__notification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
}

.notice {
  position: relative;
  width: 100%;
  padding: 17px 0 17px 75px;
  margin-top: 25px;
  box-sizing: border-box;

  p {
    color: rgba(#fff, .8);
    font-family: $main-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: .025em;
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.message {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 3px 10px 3px 75px;
  width: 100%;
  box-sizing: border-box;

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4px;
  }

  &__author {
    color: #fff;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin-right: 11px;
    letter-spacing: .025em;
  }

  &__time {
    color: rgba(#fff, .3);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: .025em;
    white-space: nowrap;
  }

  p {
    width: 100%;
    transition: all .25s ease-in-out;
    color: rgba(#fff, .5);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: .025em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &_invite {

    p {
      font-weight: 700;
      color: rgba(#fff, .8);
    }

    .message__author {
      font-weight: 700;
    }
  }
}

.correspondence {
  margin-top: 0;
  box-sizing: border-box;
  padding: 0;
  padding-left: 34px;
  padding-top: 115px;
  width: 41%;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 20px;
  }

  &__form {
    width: 100%;
    margin-bottom: 38px;
  }
}

.message-form {
  position: relative;
  padding: 0 7px 0 75px;
  box-sizing: border-box;

  textarea {
    box-sizing: border-box;
    padding: 14px 18px;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    background-color: $light-violet;
    color: rgba(#fff, .8);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    resize: none;
    border: none;
    outline: none;
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .button {
    margin-top: 18px;
    padding: 0 32px;
  }

  .scroll-textarea {
    border: none;
    padding: 0 12px 0 0 !important;
  }

  .scroll-textarea > .scroll-content > textarea {
    height: 70px !important;
    padding: 14px 18px;
  }
}

.comment {
  position: relative;
  box-sizing: border-box;
  padding: 4px 0 4px 75px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 34px;
  }

  .avatar {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
  }

  &__author {
    margin-right: 15px;
    color: #fff;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    letter-spacing: .025em;
  }

  &__time {
    margin-right: 15px;
    color: rgba(#fff, .3);
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    white-space: nowrap;
    letter-spacing: .025em;
  }

  &_self {
    align-self: flex-end;
    padding: 4px 85px 4px 0;
    width: 55%;
    min-width: 250px;

    &:not(:last-child) {
      margin-bottom: 55px;
    }

    .avatar {
      left: auto;
      right: 0;
    }
  }

  &_answer {
    width: calc(100% - 75px);
    margin-left: 75px;
  }

  &__dots {
    position: relative;
    min-width: 25px;
    margin-left: auto;
  }

  .dots__menu {
    padding-top: 34px;
    right: -10px;
  }

  &__text {
    color: rgba(#fff, .8);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: .025em;
  }

  &__reply {
    margin-top: 10px;
    display: inline-block;
    color: rgba(#fff, .3);
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .25s ease-in-out;

    &:hover {
      color: rgba(#fff, 1);
    }
  }
}

.delete-correspondence {
  min-height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 42px 96px 20px 96px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 429px;
    background-color: $violet;
    overflow: hidden;
  }

  p {
    width: 100%;
    color: #fff;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: .025em;
    text-align: center;
    margin-bottom: 22px;
  }

  &__delete {
    padding: 0 40px;
    margin-bottom: 5px;
  }
}

@import "adaptive";
